.psk-title {
  @extend .jumbotron;
  margin-top: -20px;
  padding-top: 2em;
  padding-bottom: 2em;
  background: #f5f5f5;
  border-radius: 0 !important;
}

.psk-title--container {
  @extend .container;
}

.psk-title--heading {
  @extend .h2;
  margin-top: 10px;
}
