{% extends "_layouts/default.njk" %}

{% block content %}

<div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Features
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Bootstrap v3.3.7</h4>
                    </div>
                    <div class="panel-body">
                        <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web.</p>
                        <a href="http://getbootstrap.com/" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Nunjucks &amp; JSON Data</h4>
                    </div>
                    <div class="panel-body">
                        <p>A rich and powerful templating language for JavaScript combined with structured data.</p>
                        <a href="https://mozilla.github.io/nunjucks/" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Browsersync with Live Reload</h4>
                    </div>
                    <div class="panel-body">
                        <p>Time-saving synchronised browser testing.</p>
                        <a href="https://www.browsersync.io/" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-primary btn-block" href="#">Call to Action</a>
                </div>
            </div>
        </div>

{% endblock %}
