<hr>

<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>made with ♥ by <a href="https://github.com/ivojacobs">@ivojacobs</a>, based on <a href="https://github.com/yeoman/generator-webapp">generator-webapp</a></p>
        </div>
    </div>
</footer>
