<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{{ page_title }} | {{ site.title }}{% endblock %}</title>
  {% block styles %}
  {% include "components/_styles.html" %}
  {% endblock %}
</head>

<body>
  {% block header %}
  {% include "components/_header.html" %}
  {% endblock %}

  {% block content %}
  <p>This is the main content area</p>
  {% endblock %}

  {% block footer %}
  {% include "components/_footer.html" %}
  {% endblock %}

  {% block scripts %}
  {% include "components/_scripts.html" %}
  {% endblock %}
</body>
</html>
